/*** Gravity Forms ***/
.gform_wrapper{
  max-width: 100%;
  ul {
  .list-unstyled();
  }
  li {
  .form-group();
  }
  form {
    margin-bottom: 0;
  }
  .gfield_label {
  }
  .gfield_required {
    padding-left: 1px;
    color: @state-danger-text;
  }
  .gfield_error {
    .gfield_label {
      color: @state-danger-text;
    }
    input,
    select,
    textarea {
      border-color: @alert-danger-border;
      background-color: @alert-danger-bg;
      color: @alert-danger-text;
      .form-control-focus(@alert-danger-text);
    }
  }
  .gf_progressbar_wrapper{
    .gf_progressbar{
      .progress();
      background-image: none !important;
      .gf_progressbar_percentage{
        .progress-bar();
        background-image: none !important;
        &.percentbar_blue,
        &.percentbar_green,
        &.percentbar_orange{
          background-image: none !important;
        }

        &.percentbar_blue{
          .progress-bar-info();
        }
        &.percentbar_green{
          .progress-bar-success();
        }
        &.percentbar_orange{
          .progress-bar-warning();
        }
        &.percentbar_red{
          .progress-bar-danger();
        }

      }
    }

  }

  .gf_page_steps{
    width: 99%;
    margin: 0 0 .5em;
    padding: 0 0 .25em;
    border-bottom: 1px solid @color-line-light;
    .gf_step{
      display: -moz-inline-stack;
      display: inline-block;
      width: auto !important;
      padding: 15px;
      font-size: 1.2em;
      line-height: 1.3 !important;

      filter: alpha(opacity=20);
      -moz-opacity: .2;
      -khtml-opacity: .2;
      opacity: .2;
      zoom: 1;

      .gf_step_number{
        .badge();
      }

      &.gf_step_active{
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
      }
      &.gf_step_next{}
      &.gf_step_pending{}
      &.gf_step_first{}
      &.gf_step_last{}
    }
  }

  .gform_heading{
    h3.gform_title{
      font-size: 2em;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .gform_footer,
  .gform_page_footer{
    //text-align: right;
    input[type="submit"]{
      .btn();
      .btn-primary();
      height: auto !important;
      box-shadow: none;
    }

    .gform_save_link,
    .gv-button-delete,
    .gv-button-cancel{
      .btn();
      height: auto !important;
      box-shadow: none;
    }

    .gform_save_link{
      .btn-default();
      .pull-left();
    }
    .gv-button-delete{
      .sr-only();
      .btn-danger();
    }
    .gv-button-cancel{
      .btn-default();
    }
  }

  .gform_page_footer{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid @color-line-light;
    input[type="button"]{

      &.gform_previous_button,
      &.gform_next_button{
        .btn();
        height: auto !important;
        box-shadow: none;
        &::after{
          font-family: @font-fontawesome;
        }
      }

      &.gform_previous_button{
        .btn-default();
        &::after{
          margin-right: 5px;
          content: @fa-var-arrow-right;
        }
      }
      &.gform_next_button{
        .btn-primary();
        &::before{
          margin-left: 5px;
          content: @fa-var-arrow-left;
        }
      }

    }

    input[type="submit"]{
      .btn();
      .btn-success();
      height: auto !important;
      box-shadow: none;
      &::after{
        margin-left: 5px;
        font-family: @font-fontawesome;
        content: @fa-var-check-circle;
      }
    }
  }

  .form_saved_message{
    .alert();
    .alert-info();
    .form_saved_message_emailform{
      margin-top: 15px;
      .form-inline();
      input[type="text"]{
        .form-group();
        .form-control();
        width:300px !important;
        display: inline-block !important;
      }
      input[type="submit"]{
        .btn();
        .btn-success();
        display: inline-block !important;
      }
    }
  }
}


.ginput_container{
  input,
  select,
  textarea {
    .form-control();
  }
  textarea {
    height: auto;
  }
}



.gform_button {
  .btn();
  .btn-primary();
  white-space: normal;
  max-width: 100%;
}

.validation_error {
  .alert();
  .alert-danger();
}
#gforms_confirmation_message{
  .alert();
}

.gforms_confirmation_message {
  .alert();

  .form_saved_message_sent{
    .alert();
    .alert-success();
    &::before{
      margin-right: 15px;
      font-family: @font-fontawesome;
      content: @fa-var-check-circle;
    }
  }

}

.gfield{
  //.row();
  &.gsection{
    margin-top: 45px;
    margin-bottom: 15px;
  }

  &.gfield_html{
    ul.fa-ul{
      margin-left:0.3em;

      &.col-2{
        li{
          .col-2();
        }
      }

    }
    &.instruction{
      font-size: 0.9em;
      padding: 0 15px;
    }
  }

  .ginput_complex{
    .clearfix();

    .ginput_left,
    .ginput_right{
      width: 45%;
      display: inline;
    }

    .ginput_left{
      float: left;
    }

    .ginput_right{
      float: right;
    }

    &.has_first_name.has_last_name {
      .name_first,
      .name_last{
        width: 49% !important;
        display: inline;
        display: inline-block;
      }
    }

  }
  .ginput_container{
    ul.gfield_checkbox,
    ul.gfield_radio{
      li{
        margin-bottom: 5px;
        clear:both;
      }
      input[type="radio"],
      input[type="checkbox"]{
        width:auto!important;
        height: auto !important;
        float: left;
        margin: 4px 0 0 0 ;
        padding: 0;
      }
      label{
        display: block;
        margin: 0 0 0 24px;
        padding: 0;
        width: auto;
        max-width: 100%;
        vertical-align: top;
        line-height: 1.5em;
        font-weight: normal;
        text-align: left;
      }
    }

    .instruction {
      font-size: 0.8em;
      font-style: italic;
    }
  }
  .gfield_description{
    font-size: 0.8em;
    font-style: italic;
    ul.fa-ul{
      margin-left:0.3em;
      &.col-2{
        li{
          .col-2();
        }
      }
    }
  }
}


.gform_widget{
  .gform_wrapper{
    padding-left: 0;
    padding-right: 0;

    .gform_body{

    }
  }
}

.gform_confirmation_wrapper{
  .gform_confirmation_message{
    .alert();
    .alert-success();
  }
}

table.gfield_list{
  td.gfield_list_cell{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  td.gfield_list_icons{
    img{
      &.add_list_item{
        margin: 0 3px;
      }
      &.delete_list_item{
        margin: 3px 3px;
      }

    }
  }
}


.col-2(){
  display: inline-block;
  margin-right: 1%;
  width: 48%;
  margin-bottom: 5px;
}

/*** Date Picker ***/
td.ui-datepicker-unselectable{
  background-color: @color-line-light;
}
td.ui-datepicker-other-month{
  background-color: white;
}
#ui-datepicker-div{
  display: none;
  background-color: white;
  width: 260px;
  border: 1px solid @color-line-light;
  padding: 15px;
  .ui-datepicker-header{
    text-align: center;
    .ui-datepicker-prev{
      float: left;
      margin-bottom: 10px;
    }
    .ui-datepicker-next{
      float: right;
      margin-bottom: 10px;
    }

    .ui-datepicker-title{
      width: 100%;
      display: block;
      clear:both;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    select{
      width: 48%;
    }
    .ui-datepicker-month{
      margin-right: 2%;
    }
  }
  table.ui-datepicker-calendar{
    width: 100%;
    th,td{
      text-align: center;
    }
  }
}


/*** Gravity Forms Functions ***/
.gform_hide_labels(){
  .gform_body{
    .gfield{
      label.gfield_label{
        .sr-only();
      }

      .ginput_container{
        label{
          .sr-only();
        }
      }

    }
  }
}