/********************
****** Widgets ******
********************/
.sidebar{
  .widget-area{
    .widget{
      border-bottom: 1px solid @color-line-light;
      h4{
        border-bottom: 1px solid @color-line-light;
        padding: 5px 0 10px 0;
      }

      ul{
        list-style: none;
        padding-left: 5px;
        li{
          margin: 3px 0;
        }
      }
    }
  }
}

.footer-widgets{
  .widget-area{
    .widget{
      color: @color-inverse-body;
      h4{
        color: @color-inverse-body;
        border-bottom: 1px solid @color-inverse-line;
        padding: 5px 0 10px 0;
      }
      a{
        color: @color-inverse-link;
        &:hover{
          color: @color-inverse-link-hover
        }
      }
    }

    .widget_recent_entries{
      li{
        border-bottom: 1px solid @color-inverse-line;
      }
    }
  }
}

.widget_search{
  .widget-title{
    display: none;
  }
  #searchform{
    .form-group{
      width: 100%;
      .input-group{
        width: 100%;
      }
    }
  }

}

.widget_twphotoswidget,
.widget_tw_twitter_widget,
.widget_tw_blog_widget,
.widget_tw_fb_like_box_widget,
.widget_tw_social_widget,
.widget_pages,
.widget_categories,
.widget_tag_cloud,
.widget_archive,
.widget_calendar,
.widget_recent_entries,
.widget_recent_comments,
.widget_rss,
.widget_meta,
.widget_wysija,
.widget_tw_contact_info_widget{
  .widget-title{
    &::before{
      font-family: @font-fontawesome;
      margin-right: 5px;
    }
  }
}

.widget_tw_twitter_widget{
  .widget-title{
    &::before{
      content: @fa-var-twitter;
      color: @color-twitter;
    }
  }
  .twitter-timeline{
    ul.tweets{
      li.tweet{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 0;
        border-bottom: 1px solid @color-line-light;
        .tweet-text{
          font-size: 0.9em;
        }
        .tweet-created_at{
          font-size: 0.8em;
          text-align: right;
          font-style: italic;
        }

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }

  .more{
    text-align: center;
    .btn{
      width: 100%;
    }
  }
}
.widget_tw_fb_like_box_widget{
  .widget-title{
    &::before{
      content: @fa-var-facebook-square;
      color: @color-facebook;
    }
  }
}
.widget_tw_social_widget{
  .contact-social{
    .social-icons-list();
    ul{
      padding-left: 0;
    }
  }
}
.widget_pages{
  .widget-title{
    &::before{
      content: @fa-var-file;
    }
  }
}
.widget_meta{
  .widget-title{
    &::before{
      content: @fa-var-wrench;
    }
  }
}
.widget_categories{
  .widget-title{
    &::before{
      content: @fa-var-bookmark;
    }
  }
  .postform{
    .form-control();
  }

}
.widget_tag_cloud{
  .widget-title{
    &::before{
      content: @fa-var-tags;
    }
  }
}
.widget_archive{
  .widget-title{
    &::before{
      content: @fa-var-archive;
    }
  }
}
.widget_calendar{
  .widget-title{
    &::before{
      content: @fa-var-calendar;
    }
  }

  .calendar_wrap{
    #wp-calendar,
    table{
      width: 100%;
      caption{
        font-weight: bold;
        text-align: center;
      }
    }
  }

  #wp-calendar{
    td, th{
      text-align: center;

    }
    td{

    }
    #today{
      background: #cccccc;
      .border-radius(100em);
      color: white;
      a{
        color: white;
      }
    }
    #prev{
      text-align: left;
    }
    #next{
      text-align: right;
    }
  }
}
.widget_recent_entries{
  .widget-title{
    &::before{
      content: @fa-var-clock-o;
    }
  }
  li{
    border-bottom: 1px solid @color-line-light;
    padding: 0 0 5px 0;
    margin-bottom: 5px;

    .post-date{
      display: block;
      font-size: 0.6em !important;
      &::before{
        font-family: @font-fontawesome;
/*         content: @fa-var-clock-o; */
        margin-right: 5px;
      }
    }
  }

}
.widget_recent_comments{
  .widget-title{
    &::before{
      content: @fa-var-comments;
    }
  }
}
.widget_rss{
  .widget-title{
    a.rsswidget img{
      display: none;
    }
    &::before{
      content: @fa-var-rss;
    }
  }
  ul{
    li{
      margin-bottom: 5px !important;
      padding-bottom: 5px !important;

      cite{
        width: 100%;
        font-style: italic;
        font-size: 0.8em !important;
        &::before{
          content: '-';
          margin-right: 5px;
        }
      }
    }
  }

  .rss-date{
    display: block;
    font-size: 0.6em;
    margin: 3px 0;
    &::before{
      font-family: @font-fontawesome;
/*       content: @fa-var-clock-o; */
      margin-right: 5px;
    }
  }

}
.widget_tw_contact_info_widget{
  .contact-info-widget-container{
    .contact-phone{
      ul{
        margin: 15px 0;
        padding: 0;
        li{
          margin-bottom: 10px;
        }
      }
    }
  }
}

.widget_twgallerieswidget,
.widget_twphotoswidget{
  .tw_photos_plugin-container{
    .tw_photos_plugin-container-inner{
      ul.tw_photos_plugin-photos{
        padding: 0;

        li.tw_photos_plugin-photo{
          display: inline;
          display: inline-block;
          width: 48%;
          margin: 2px 0.5%;
          img{
            width: 100%;
            max-width: 100%;
            height: auto;
          }
        }
      }
      .more{
        text-align: center;
        .btn,
        a.btn{
          width: 100%;
          max-width: 100%;
          white-space:normal !important;
          word-wrap:break-word;
        }
      }
    }
  }
}

.widget_twteammemberswidget{
 .tw_team-members_plugin-container{
   .tw_team-members_plugin-container-inner{

    ul.tw_teams_plugin_team-members{
      li{
        display: inline;
        display: inline-block;
        width: 48%;
        margin: 2px 0.5%;
        img{
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
    }
    .tw_teams_plugin_team-members{
      padding: 0;
      .panel{
        border: none;
        box-shadow: none;
        .profile-img{
          padding: 0 !important;
        }
      }
      .thumbnail{
        .border-radius(0);
        border: none;
        margin-bottom: 0px;
        padding: 0;
        background: transparent;
        .profile-img{
          max-width: 80%;
          margin: 0 auto;
        }
        .caption{
          text-align: left;
         h3{
           margin-top: 5px;
           margin-bottom: 5px;
           font-size: 1.2em;
           color: inherit;
         }
         h5{
           font-size: 0.9em;
           color: inherit;
         }
        }
      }
    }

    .more{
      text-align: center;
      .btn,
      a.btn{
        width: 100%;
        max-width: 100%;
        white-space:normal !important;
        word-wrap:break-word;
      }
    }
   }
 }
}

.widget{
  padding: 15px 0;
  ul{
    list-style: none;
    padding-left: 5px;

    ul.children{
      padding-left: 10px;
      li{
        border-left: 1px dotted @color-line-dark;
        padding-left: 10px;
      }
    }

    &.fa-ul{
      margin-left: 1.5em;
    }
  }
}

.widget_tw_blog_widget{
  .thumbnail{
    .border-radius(0);
    border:none;
    padding: 0;
    .caption{
      h2, h3, p{
        text-align: left;
      }
      p.time{
        font-size: 0.8em;
      }

    }
  }

  .more{
    text-align: center;
  }
}

.widget-area{
  .widget_tw_blog_widget{
    .thumbnail{
      .caption{
        h2, h3{
          margin-top: 5px;
          font-size: 1.2em;
        }
        p{
          display: none;
          visibility: hidden;
          &.time{
            display: block;
            visibility: visible;
            text-align: left;
          }
        }
      }
    }
    .more{
      .btn-primary{
        width: 100%;
        .btn-xs();
      }
    }
  }
}

#homepage-widgets{
  .widget{
    .widget-title{
      text-align: center;
      margin-bottom: 25px;
      padding-bottom: 15px;
      border-bottom: 1px solid @color-line-light;
    }
  }

  .widget_tw_blog_widget{
    padding-bottom: 30px;
    .blog-container{
      .container();
      .caption{
        h2,h3{
          text-align: center;
          margin-top: 15px;
          margin-bottom: 5px;
        }
        .entry-author{
          text-align: center;
        }
        p{
          text-align: justify;
        }
        p.time{
          text-align: center;
        }
      }
      .more{
        .btn-primary{
          //min-width:50% !important;
          //max-width: 100% !important;
        }
      }
    }
  }


  .widget_twgallerieswidget,
  .widget_twphotoswidget{
    padding-bottom: 30px;
    .tw_photos_plugin-container{
      .container();
      .tw_photos_plugin-container-inner{
        .tw_photos_plugin-photos{
          .tw_photos_plugin-photo{
            .thumbnail{
              .border-radius(0);
              border: none;
              padding: 0;
              .caption{
                h2,h3{
                  text-align: center;
                  margin-top: 15px;
                  margin-bottom: 5px;
                }
                p{
                  text-align: justify;
                }

              }
            }
          }
        }
        .more{
          .btn{
            width: auto;
            max-width: 100%;
          }
        }
      }
    }
  }

  .widget_twteammemberswidget{
    padding-bottom: 30px;
   .tw_team-members_plugin-container{
     .container();
     .tw_team-members_plugin-container-inner{

      .tw_teams_plugin_team-members{
        padding-bottom: 15px;
        //margin-bottom: 15px;
        .thumbnail{
          padding: 0;
          border: none;
          .border-radius(0);
          .caption{
            text-align: center;
            h3{
              margin-top: 15px;
              margin-bottom: 5px;
            }
          }
        }
        .panel{
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: none;
          box-shadow: none;
          .caption{
            h2,h3{
              margin-top: 15px;
              margin-bottom: 5px;
            }
          }
        }
      }
      .more{
        .btn,
        a.btn{
          width: auto;
          max-width: 100%;
        }
      }
     }
   }
  }

  .widget_search{
    .search-form-container{
      .container();
      text-align: center;
    }
  }

  .widget_tag_cloud{
    .tagcloud{
      .container();
    }
  }

  .widget_tw_social_widget{
    .social-widget-container{
      .container();
      p{
        text-align: center;
        .lead();
      }
      .contact-social{
        text-align: center;
        font-size: 3em;
      }
    }
  }

  .widget_tw_fb_like_box_widget{
    .facebook-widget-container{
      .container();
    }
  }

  .widget_wysija{
    .container();
    .widget_wysija{
      .wysija-paragraph{
      }
    }
  }
}